<% layout("/layout/boilerplate.ejs") %>


        <form action="/home/about" method="GET" class="about-form">
            <h1><span>O</span>ur<Span>T</Span>eam</h1>
            <div class="team">
                <div class="card yash" style="width: 23rem;">
                    <img src="/image/Yash.jpeg" class="card-img-top" alt="...">
                    <div class="card-body" >
                        <div class="head-para">
                        <h3>Yash Mishra</h3>
                        <span>Backend developer</span>
                    </div>
                        <p>I'm Yash Mishra, a backend developer with a passion for building robust and scalable digital solutions. My focus is on creating the backbone of applications I thrive on crafting efficient and secure code that powers dynamic web applications and services.</p>
                    </div>
                </div>
                <div class="card ritika" style="width: 23rem;">
                    <img src="/image/Ritika.jpeg" class="card-img-top" alt="...">
                    <div class="card-body" >
                        <h3>Ritika Omar</h3>
                        <span>Frontend developer</span>
                        <p>I'm Ritika Omar, a frontend developer with a passion for turning ideas into interactive and user-friendly websites. I believe in writing clean, efficient code that brings designs to life seamlessly. I love the process of problem-solving and turning concepts into reality.</p>
                    </div>
                </div>

            </div>
        </form>
    